<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Assignment</title>
</head>
<body>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <form action="/assignments/new" method="post">
        <legend>New Assignment</legend>
        <div class="form-group">
          <label for="assignment-name">Name</label>
          <input type="text" name="name" class="form-control" id="assignment-name" placeholder="Assignment Name">
        </div>
        <div class="form-group">
          <label for="assignment-url">URL</label>
          <input type="url" name="url" class="form-control" id="assignment-url" placeholder="https://www.google.com">
        </div>
        <div class="form-group">
          <label for="assignment-description">Description</label>
          <textarea name="description" class="form-control" id="assignment-description" placeholder="Assignment"></textarea>
        </div>
        <div class="form-group">
          <label for="assignment-duedate">Due Date</label>
          <input type="date" name="duedate" class="form-control" id="assignment-duedate">
        </div>
        <div class="form-group">
          <label for="assignment-dropbox">Turn In Link</label>
          <input type="url" name="dropbox" class="form-control" id="assignment-dropbox" placeholder="https://www.google.com">
        </div>
        <div class='text-right'>
          <button type="submit" class="btn btn-primary">Create Assignment</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
