<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Note</title>
</head>
<body>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <form action="/new-note" method="post">
        <legend>New Note</legend>
        <div class="form-group">
          <label for="notes-title">Title</label>
          <input type="text" name="title" class="form-control" id="notes-title" placeholder="Note Title">
        </div>
        <div class="form-group">
          <label for="notes-content">Content</label>
          <textarea name="content" class="form-control" id="notes-content" placeholder="Enter Your Thoughts Here"></textarea>
        </div>
        <div class='text-right'>
          <button type="submit" class="btn btn-primary">Finish</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
