<br>
<center><h1>My Notes</h1>
<a href="/notes/new" class="btn btn-primary ml-1">New Note</a><a href="/schedule" class="btn btn-primary ml-1">My Schedule</a><hr>
</center>
<div class="row">
    <div class="col-sm-12 col-sm-offset-8">
        <ul>
            {{#each notes}}
                <li class="list-group-item">
                    <div class="lead"><a href="/notes/{{this._id}}">{{this.title}}</a></div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
