<div class="message-box">
  <br>
  <center>
  <h1>Welcome to StudyBuddy.</h1>
  <h1>Please Log In/Sign Up to Begin.</h1><br>
</center>
  <center>
  <a href="/login" class="btn btn-primary ml-1">Log In</a><a href="/sign-up" class="btn btn-primary ml-1">Sign Up</a><hr>
</center>
</div>
